/* Above header */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #262c31;
  color: #fff;
  height: 50px;
}

/* Responsiveness */
@media only screen and (max-width: 1442px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }
}

.header-container .locationAndEmail .location {
  border-right: 1px solid #fff;
  padding-right: 20px;
}

.emailText {
  font-weight: 900;
}

.emailText:hover {
  color: #a9c200;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.locationAndEmail {
  display: flex;
  gap: 20px;
}

.optionsAndSocials {
  display: flex;
  height: 50px;
  gap: 20px;
}

.header-container .optionsHeader {
  display: flex;
  gap: 20px;
}

.optionsAndSocials .optionsHeader {
  height: 20px;
  margin-top: 10px;
}

/* ? options and border */
.optionsAndSocials .optionsHeader .option {
  border-right: 1px solid #fff;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.optionsAndSocials .optionsHeader .option:hover {
  color: #a9c200;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.optionsAndSocials .optionsHeader .option:last-child {
  border: none;
}

.social-icons {
  display: flex;
  gap: 20px;
  background-color: #a9c200;
  cursor: pointer;
  padding: 15px 20px 20px 20px;
}

.social-icons i {
  font-size: 14px;
}

.social-icons i:hover {
  color: #262c31;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

/* Actual Header */
.header {
  padding-left: 10%;
  box-shadow: 3px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 300px;
  position: fixed;
  top: 10;
  background-color: #fff;
  z-index: 1000;
}
/** fixed header */
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s; /* Add smooth transition */
}

.menuItems i {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 200px;
    align-items: center;
    padding-left: 5%;
  }
  .headerLogo {
    width: 60%;
    height: 50px;
  }
  .menuItems {
    display: flex;
    margin-left: -70px;
  }
  .Links {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -60px;
  }
  .Links li {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
  }
  .menuItems i {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-container {
    display: none;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 200px;
    align-items: center;
    padding-left: 5%;
  }
  .headerLogo {
    width: 60%;
    height: 50px;
  }
  .menuItems .Links {
    display: none;
    margin-left: -70px;
  }
  .quotesBtn {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .Links {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -60px;
  }
  .Links li {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
    height: 15px;
  }
  .menuItems i {
    display: block;
    position: absolute;
    top: 38px;
    right: 13px;
    font-size: 25px;
    background-color: rgb(240, 235, 235);
    padding: 5px;
    border-radius: 6px;
  }
}

.headerLogo {
  width: 180px;
}

.menuItems {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.Links {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.Links .singleLink {
  border-right: 1px solid #000;
  padding-left: 10px;
  width: 90px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Links .active {
  color: #a9c200;
}
.Links .singleLink:nth-child(6) {
  border: 0;
}
.Links li:hover {
  color: #a9c200;
}

.dropdownItems {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
  margin-top: -1px;
  margin-left: -2%;
  transition: all;
  transition-duration: 1s;
}
.dropdownItems .dropdown {
  background-color: #fff;
  width: 200px;
  height: 40px;
  z-index: 1;
  border-bottom: 2px solid #a9c200;
  margin-left: -32px;
}

.dropdownItems li {
  padding: 8px 9px;
  text-decoration: none;
  display: block;
  margin-left: -20%;
  border-bottom: 1px solid #808080;
  transition: margin-left 0.8s ease-in; /* Added transition */
}

.dropdownItems li a {
  text-decoration: none;
  color: #000;
}
.dropdownItems li a:hover {
  font-weight: 800;
  color: #a9c200;
  margin-left: 15px;
}

.singleLink:hover .dropdownItems {
  display: block;
}
.singleLink i {
  font-size: 13px;
  margin-left: 10px;
  font-weight: lighter;
}
/* Your existing CSS styles */

/* Get A Quotes button */
.quotesBtn {
  position: relative;
  border: 1px solid #000;
  margin-top: -10px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  background-color: #fff;
  overflow: hidden; /* Hide overflow */
  transition: background-color 0.3s ease-in;
}
.quotesBtn:hover {
  background-color: #000;
  color: #fff;
}

.search-container {
  display: none; /* Initially hidden */
  position: absolute;
  top: 150px; /* Adjust according to your header height */
  right: 160px; /* Adjust according to your layout */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Search input */
.search-input {
  border: none;
  outline: none;
  width: 200px;
  padding: 5px;
}
/* Close icon */
.close-icon {
  cursor: pointer;
}
/* slider Images */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners for the overlay */
  color: #000;
  width: 500px;
}
.carousel-caption h5 {
  margin-bottom: 10px;
  color: #a9c200;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
}
.carousel-caption p {
  text-align: left;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.carousel-caption button {
  border: 0;
  background-color: #a9c200;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-self: flex-start;
}
/*  blog carousal */
.blog-carousal {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.blog-carousal2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: #fff;
}

.blog-carousal span {
  text-align: center;
  text-transform: uppercase;
  color: #a9c200;
  transition: color 0.3s ease-in;
}
.blog-carousal h1 {
  text-align: center;
}

.blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 4px;
}
.blog-post .item {
  width: 100%;
}
.blog-post .item img {
  transition: transform 0.3s ease;
}
.blog-title h3:hover {
  color: #a9c200;
  cursor: pointer;
}
.blog-post .item img:hover {
  transform: scale(1.04);
}
.blog-content {
  background-color: #fff;
}
.blog-post .item .blog-content img {
  margin-top: 3px;
  border-radius: 2px;
}
.blog-content .blog-title {
  padding: 0.2rem;
}
.blog-content .blog-title h3 {
  text-align: center;
  margin-top: 20px;
}
.blog-content .blog-title p {
  text-align: center;
  margin-top: 20px;
  color: gray;
}
.blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: skyblue;
  margin: 0.5rem;
}
.blog-content span {
  display: block;
}
.blog-post .item .blog-content .blog-title h3 {
  font-size: 20px;
}
.blog-title span {
  transition: color 0.3s ease-in;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-title span:hover {
  color: #a9c200;
}
/* services */
.line-with-icon {
  position: relative;
  width: 70%; /* Adjust width as needed */
  margin: 40px auto; /* Center horizontally */
}

.line {
  border-top: 1px solid #d6d5d5; /* Adjust line style */
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Adjust background color */
  padding: 0 10px; /* Adjust padding as needed */
}
.icon i {
  color: #a9c200;
  font-size: 40px;
}
.line-with-icon h6 {
  color: #000;
  transition: color 0.3s ease-in;
  position: absolute;
  margin-top: 20px;
  left: 40%;
}
.line-with-icon h6:hover {
  color: #a9c200;
}
/* About Us */
.About-Us {
  width: 100%;
  display: flex;
  padding: 120px;
  gap: 70px;
}
.About-Us .Picture img {
  padding: 0px;
}
.About-Us .details p:first-child {
  color: #a9c200;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.About-Us .details h1 {
  margin-top: -9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.About-Us .details p {
  color: gray;
  word-spacing: 1px;
}
.technology-Tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.technology-Tools .listTools {
  display: flex;
  flex-direction: column;
}
.ToolsList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.ToolsList li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  color: gray;
}
.ToolsList li i {
  font-size: 20px;
  color: #a9c200;
  margin-top: 2px;
}
.technology-Tools .years30 {
  background-color: #a9c200;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technology-Tools .years30 h1 {
  color: #fff;
  font-family: fantasy;
  text-align: center;
  margin-top: 10px;
}
.technology-Tools .years30 p {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
/*? Founder and Signature */
.founderAndSign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}
.founderAndSign div:first-child {
  border: 1px solid #f5f5f5;
  border-radius: 45px 45px;
  padding: 5px;
}
.founderAndSign div img:first-child {
  border-radius: 40px 40px;
}
.founderAndSign div h4 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.needHelp {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 10px;
}
.needHelp h1 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Testimonial {
  position: relative; /* Set the parent div as a relative position */
  width: 100%;
  background-image: url("/src/images/Testimonial/row-bgimage-1.jpg");
  height: 600px;
  background-color: #363b40;
  opacity: 0.9;
  padding: 0;
  background-size: cover;
}

.testimonialImage {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  align-items: center;
  padding-top: 0;
}
.Testimonial .testimonialImage .details {
  opacity: 1;
  width: 600px;
}
.Testimonial .testimonialImage .details .TestimonialText {
  color: #a9c200;
}
.Testimonial .testimonialImage .details h1 {
  color: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
}
.Testimonial .testimonialImage .details p:last-child {
  color: #fff;
}
/* blog carousal */
.small-carousel-container {
  width: 600px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow */
  position: relative;
  margin-right: 20px; /* Add some space between the carousel and other content */
}

.small-carousel {
  display: flex;
  width: 300%; /* Adjust width to accommodate all slides */
  transition: transform 1s ease-in-out; /* Add smooth transition */
}

.small-carousel-item {
  flex: 0 0 600px; /* Adjust width of each slide */
}
.small-carousel-item p:first-child {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
/* Style for dots */
.dot-container {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-self: self-start;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.small-carousel-container .small-carousel .small-carousel-item .author-details {
  display: flex;
  width: 100%;
}
.container {
  position: relative;
  height: 80px;
  display: flex;
  gap: 20px;
}
.vertical-line {
  width: 5px; /* Adjust thickness as needed */
  animation: colorFlow 3s infinite; /* Animation to change color */
  z-index: 100;
}

@keyframes colorFlow {
  0% {
    height: 10%;
    background-color: #000;
  }
  20% {
    height: 30%;
    background-color: #505c05;
  }
  90% {
    height: 90%;
    background-color: #a9c200;
  }
  100% {
    height: 100%;
    background-color: #a9c200;
  }
}
.author-details .container .author-photo {
  width: 15%;
  height: 80px;
  border-radius: 45px;
  border: 5px solid #fff;
}
.author-details .container .author-photo img {
  border-radius: 40px;
  width: 100%;
  height: 70px;
}
.author-details .container .authorDetails {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.author-details .container .authorDetails div:first-child span {
  color: #ffff00;
}
.author-details .container .authorDetails h5 {
  color: #fff;
  font-size: 17px;
}
.activeDot {
  height: 35px;
  width: 10px;
  border-radius: 10px;
  background-color: #a9c200;
}
/* After small carousal */
.testimonialImage .cards {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.testimonialImage .cards .cardsRow {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 190px;
}
.testimonialImage .cards .cardsRow div {
  width: 50%;
  height: 185px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1818;
}
.testimonialImage .cards .cardsRow div img {
  width: 70px;
}
.testimonialImage .cards .cardsRow div h6 {
  color: #fff;
  font-size: 20px;
}
/*! Reality Matters */
.Reality-Matters {
  width: 100%;
  height: 280px;
  padding-top: 90px;
  background-color: #f5f5f5;
}
.Reality-Matters .Heading-Phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Reality-Matters .Heading-Phone h1 {
  display: flex;
  justify-content: center;
}
.Reality-Matters .Heading-Phone h1 span {
  color: #a9c200;
}
.Reality-Matters .Heading-Phone .audioBtn {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: transparent;
  width: 180px;
  height: 50px;
  border-radius: 35px;
  border: 1px solid #262c31;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.Reality-Matters .Heading-Phone .audioBtn:hover {
  background-color: #000;
  color: #fff;
}
.Reality-Matters hr {
  color: gray;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0;
}
/* meet our Team */
.blog-post .item .blog-content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 4px;
  height: 500px;
}
.blog-post .item .blog-content2 img {
  height: 420px;
}
.blog-post .item .blog-content2 .blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #eee;
}
.blog-post .item .blog-content2 .blog-title h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: color 0.3s ease-in;
}
.blog-post .item .blog-content2 .blog-title h3:hover {
  color: #a9c200;
}
.blog-post .item .blog-content2 .shareContainer {
  position: relative;
  display: inline-block; 
  
}
.blog-post .item .blog-content2 .shareIcon {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  margin-bottom: 33%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}
.blog-post .item .blog-content2 .shareIcon:hover {
  background-color: #a9c200;
  color: #fff;
}
.blog-post .item .blog-content2 .shareIcon i {
  font-size: 14px;
}
.blog-post .item .blog-content2 .shareDiv {
  width: 63%;
  height: 40px;
  position: absolute;
  bottom: 142px;
  display: flex;
  opacity: 0.8;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
  background-color: #fff;
  transition: opacity 1s ease,width 1s ease-in-out;
}

.share-container:hover + .shareDiv {
  width: 63%;
opacity: 1;
  cursor: pointer;
}
.blog-post .item .blog-content2 .shareDiv i {
  width: 33%;
  padding-top: 10px;
  height: 40px;
  border-left:1px solid #e3e3e3;
  cursor: pointer;
}
.blog-post .item .blog-content2 .shareDiv i:hover {
  background-color: #000;
  color:#fff;
}
/* ! Explore Team */
.exploreTeam{
  width: 100%;
  display: flex;
  padding: 120px;
  gap: 1px;
  background-color: #f4f4f4;
}
.exploreTeam .details{
  background-color: #fff;
  padding-top: 50px;
  padding-left: 30px;
  width: 50%;
}
.exploreTeam .details .title{
  font-size: 34px;
}
.exploreTeam .details p:first-child{
  color: #a9c200;
}
.exploreTeam .details .technology-Tools{
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.exploreTeam .Picture {
  width: 50%;
  height: 400px;
}
.exploreTeam .Picture img{
  width: 100%;
  height: 500px;
  background-color: #808080;
}
.exploreTeam .details .technology-Tools .ToolsList li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #000;
}
.exploreTeam .details .technology-Tools .ToolsList li div h6{
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}
.exploreTeam .details .technology-Tools .ToolsList li div{
  display: flex;
  gap:20px
}
.exploreTeam .details .technology-Tools .ToolsList li p{
  margin-left: 37px;
  color: gray;
}
.videoBtn{
  background-color: #a9c200;
  width: 70px;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 47%;
  border: 5px solid #f5f5f5;
}
.videoBtn i{
  color: #fff;
  font-size: 25px;
}
.news-corner .blog-post .item .blog-content .blog-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  padding-left: 30px;
  padding-top: 20px;
}
.news-corner .blog-post .item .blog-content .blog-title h6{
  font-weight: 300;
}
.news-corner .blog-post .item .blog-content .blog-title p{
  margin-top: -2px;
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.comments-Calender{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e3e3e3;
  width: 100%;
  height: 50px;
}
.comments-Calender div{
  display: flex;
  font-weight: 300;
  padding: 10px 10px;
  gap: 3px;
}
.comments-Calender div i{
  font-weight: 300;
  margin-top: 4px;
}
.comments-Calender div span{
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.news-corner .blog-post .item .blog-content img{
  width: 90%;
}



