body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */

/* Above header */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #262c31;
  color: #fff;
  height: 50px;
}

.header-container .locationAndEmail .location {
  border-right: 1px solid #fff;
  padding-right: 20px;
}
.header .fa-bars {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .blog-carousal {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  .blog-title p {
    font-size: 13px;
  }
  .blog-title span {
    font-size: 10px;
  }
  /* above header */
  .header-container {
    display: none;
  }
  .headerLogo {
    width: 90%;
    height: 50px;
  }
  .header .options img {
    width: 120px;
    height: auto;
  }
  .menuItems {
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
  }
  .Links {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -60px;
  }
  .Links li {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
  }

  /* Carousal Text */
  main .carousel .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px; /* Rounded corners for the overlay */
    color: #000;
    width: 500px;
  }
  main .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    margin-bottom: 10px;
    color: #a9c200;
    text-align: left;
    font-size: 15px;
    text-transform: capitalize;
  }
  main .carousel .carousel-inner .carousel-item .carousel-caption p {
    text-align: left;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .carousel-caption button {
    border: 0;
    background-color: #a9c200;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    align-self: flex-start;
  }

  /* Meet Our Team */
  .blog-post .item {
    width: 90%;
  }
  .blog-post .item img {
    transition: transform 0.3s ease;
  }
  .blog-carousal .blog-post .item .blog-content2 img {
    height: 300px;
  }
  .blog-post .item .blog-content2 .shareIcon {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog-post .item .blog-content2 .shareIcon i {
    font-size: 14px;
  }
  .blog-post .item .blog-content2 .shareDiv {
    width: 63%;
    height: 40px;
    position: absolute;
    bottom: 300px;
    display: flex;
    opacity: 0.8;
    align-items: center;
    justify-content: space-around;
    margin-left: 40px;
    background-color: #fff;
    transition: opacity 1s ease, width 1s ease-in-out;
  }

  .share-container:hover + .shareDiv {
    width: 63%;
    opacity: 1;
    cursor: pointer;
  }
  footer .footer {
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 768px) {
  .header-container {
    display: none;
  }
  .header .menuItems {
    display: none;
  }
  header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header.header .fa-bars {
    display: block;
    font-size: 25px;
  }

  /* blog title */
  .blog-carousal span {
    font-size: 11px;
  }
  .blog-carousal h1 {
    font-size: 20px;
  }
  main .blog-carousal .blog-post .item .blog-content .blog-title h3 {
    font-size: 15px;
  }
  main .blog-carousal .blog-post .item .blog-content .blog-title p {
    font-size: 11px;
  }
  main .blog-carousal .blog-post .item .blog-content .blog-title span {
    font-size: 10px;
  }
  /* About -us*/
  main .About-Us {
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 100px;
    display: flex;
  }
  main .About-Us .Picture {
    width: 100%;
  }
  main .About-Us .Picture img {
    height: 500px;
  }
  /* Testimonial */
  main
    .Testimonial
    .testimonialImage
    .details
    .small-carousel-container
    .small-carousel
    .small-carousel-item
    p {
    font-size: 11px;
  }
  main .Testimonial .testimonialImage .cards .cardsRow .card {
    width: 130px;
    height: 150px;
  }
  main .Testimonial .testimonialImage .cards .cardsRow .card img {
    width: 40px;
  }
  main .Testimonial .testimonialImage .cards .cardsRow .card h6 {
    font-size: 15px;
  }
  /* Realibility Matters */
  main .Reality-Matters .Heading-Phone h1 {
    font-size: 20px;
  }
  main .Reality-Matters .Heading-Phone .audioBtn {
    width: 130px;
    padding: 0;
    box-sizing: border-box;
  }
  main .Reality-Matters .Heading-Phone .audioBtn {
    font-size: 10px;
  }
  /* Explore Team */
  main .exploreTeam {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    padding-left: 30px;
  }
  main .exploreTeam .details {
    width: 50%;
  }
  main .exploreTeam .details .title {
    font-size: 17px;
  }
  main .exploreTeam .details p {
    font-size: 10px;
  }
  main .exploreTeam .details .technology-Tools .ToolsList li div i {
    font-size: 12px;
  }
  main .exploreTeam .details .technology-Tools .ToolsList li div h6 {
    font-size: 12px;
  }
  main .exploreTeam .details .technology-Tools .ToolsList li p {
    font-size: 10px;
    margin: 0;
  }
  /* Picture */
  main .exploreTeam .Picture img {
    width: 400px;
    height: 475px;
  }
  /* video Btn */
  main .exploreTeam .videoBtn {
    background-color: #a9c200;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    left: 40%;
    border: 5px solid #f5f5f5;
  }
  main .exploreTeam .videoBtn i {
    color: #fff;
    font-size: 20px;
  }
  /* Explore More Team */
  main .news-corner .blog-post .item .blog-content .blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  main
    .news-corner
    .blog-post
    .item
    .blog-content
    .blog-title
    .comments-Calender
    div
    span {
    margin-top: 5px;
  }
  /* footer */
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0;
  }
  .footer .teliqon .teliqonText {
    font-size: 13px;
  }
  /* our services */
  footer .ourServices {
    margin-top: 50px;
  }
  .footer .ourServices .otherServices {
    display: flex;
    flex-direction: column;
  }
  .footer .ourServices .newsLetter p {
    font-size: 11px;
  }
  .footer .ourServices .email-container #email {
    width: 100px;
  }
}
@media only screen and (max-width: 425px) {
  header .header {
    width: 200px;
  }
/* Carousal  */

main .carousel .carousel-inner .carousel-item .carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: -30px;
}
main .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 13px;  
}
main .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 13px;  
}
main .carousel .carousel-inner .carousel-item .carousel-caption button{
  width: 150px;
  height: 80px;
  font-size: 10px;
  display: flex;
  align-self: center;
  margin-top:-10px;
}


  main .About-Us {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .About-Us .Picture {
    width: 380px;
    height: 400px;
    margin-left: 10%;
  }
  main .About-Us .Picture img {
    width: 80%;
    height: 400px;
  }
  main .About-Us .details {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  main .About-Us .details p:first-child {
    font-size: 15px;
    text-align: center;
  }
  main .About-Us .details .title {
    font-size: 20px;
    text-align: center;
  }
  main .About-Us .details .desc {
    font-size: 12px;
    text-align: center;
  }
  main .About-Us .details .technology-Tools {
    display: flex;
    flex-direction: row;
  }
  main .About-Us .details .technology-Tools .listTools .ToolsList li {
    font-size: 10px;
  }
  main .About-Us .details .technology-Tools .years30 {
    background-color: #a9c200;
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .About-Us .details .technology-Tools .years30 h1 {
    color: #fff;
    font-family: fantasy;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
  }
  main .About-Us .details .technology-Tools .years30 p {
    color: #fff;
    text-align: center;
    font-size: 15px;
  }
  .technology-Tools .years30 p {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  /* Testimonial */
  main .Testimonial .testimonialImage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  } 
  main .Testimonial .testimonialImage .details{
    width: 100%;
  }
    main .Testimonial .testimonialImage .details p.TestimonialText{
    font-size: 13px;
  }
  main .Testimonial .testimonialImage .details h1{
    font-size: 15px;
  }
  main .Testimonial .testimonialImage .details .small-carousel-container .small-carousel .small-carousel-item .small-carousel-item-text{
    font-size: 10px;
  }
/* Cards */
  main .Testimonial .testimonialImage .cards .cardsRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: -60px;
  }
  main .Testimonial .testimonialImage .cards .cardsRow  .card{
    width: 120px;
    display: flex;
    flex-direction: column;
  }
  main .Testimonial .testimonialImage .cards .cardsRow  .card img{
    width: 40px;
  }

  /* Reality Matters */
  main .Reality-Matters .Heading-Phone {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main .Reality-Matters .Heading-Phone h1{
    font-size: 10px;
    margin-top: -10px;
  }
  main .Reality-Matters .Heading-Phone button.audioBtn{
    padding-top:1px;
    padding-bottom: 1px;
  }
/* Who We Are */
main .blog-carousal .blog-post {
  display:  flex;
  justify-content: start;
  align-items: center;
  padding-left: 20%;
}
/* Explore Our Team */
main .exploreTeam {
  display: flex;
  flex-direction: column;
}
main .exploreTeam .details {
  width: 340px;
}
main .exploreTeam .Picture{
  width: 400px;
}
main .exploreTeam .Picture .aboutImage{
  width: 340px;
}
main .exploreTeam  .videoBtn{
  display: none;
}
/* footer */
footer.footer{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}
}
@media only screen and (max-width:320px) {
  main .carousel .carousel-inner .carousel-item .carousel-caption h5{
    font-size: 8px;    
  }
  main .carousel .carousel-inner .carousel-item .carousel-caption p{
    font-size: 8px;    
  }
  main .carousel .carousel-inner .carousel-item .carousel-caption button{
    width: 120px;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8px;    
  }
  /* blog Carousel */
  main .blog-carousal h1{
    font-size: 12px;
  }
  main .line-with-icon  h6{
    font-size: 12px;
  }
  /* About Us */
  main .About-Us .Picture {
    background-color: red;
    width: 270px;
  }
  main .About-Us .Picture img{
    width: 100%;
  }
  main .About-Us .details{
    width: 300px;
  }
  main .About-Us .details p:first-child{
    font-size: 12px;
  }
  main .About-Us .details .title{
    font-size: 16px;
  }
  /* Testimonial */
  main .Testimonial .testimonialImage {
    display: flex;
    justify-content: space-around;
    background-color: red;
    flex-direction: column;
    width: 100%;
    height: auto;
  } 
  main .Testimonial .testimonialImage .details{
    width: 100%;
  }
  main .Testimonial .testimonialImage .cards .cardsRow .card{
    width: 100px;
  }
  /* Reality Matters */
  main .Reality-Matters .Heading-Phone{
    display: flex;
    flex-direction: column;
  }
  /* Explore More Team */
  main .exploreTeam {
    padding-left: 0px;
    height: 900px;
  }
  main .exploreTeam .details{
    width: 320px;
  }
  main .exploreTeam .details .title{
    font-size: 18px;
  }
  main .exploreTeam .Picture {
    width: 320px;
  }
  main .exploreTeam .Picture img{
    width: 300px;
    height: auto;
  }
}


.emailText {
  font-weight: 900;
}

.emailText:hover {
  color: #a9c200;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.locationAndEmail {
  display: flex;
  gap: 20px;
}

.optionsAndSocials {
  display: flex;
  height: 50px;
  gap: 20px;
}

.header-container .optionsHeader {
  display: flex;
  gap: 20px;
}

.optionsAndSocials .optionsHeader {
  height: 20px;
  margin-top: 10px;
}

/* ? options and border */
.optionsAndSocials .optionsHeader .option {
  border-right: 1px solid #fff;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.optionsAndSocials .optionsHeader .option:hover {
  color: #a9c200;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.optionsAndSocials .optionsHeader .option:last-child {
  border: none;
}

.social-icons {
  display: flex;
  gap: 20px;
  background-color: #a9c200;
  cursor: pointer;
  padding: 15px 20px 20px 20px;
}

.social-icons i {
  font-size: 14px;
}

.social-icons i:hover {
  color: #262c31;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

/* Actual Header */
/* header.header {
  box-shadow: 3px;
  box-sizing: border-box;
  width: 1440px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 300px;
  position: fixed;
  background-color: #fff;
  z-index: 100;
} 
**/
header.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/** fixed header */
.menuItems i {
  display: none;
}

.headerLogo {
  width: 180px;
}

.menuItems {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.Links {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.Links .singleLink {
  border-right: 1px solid #000;
  padding-left: 10px;
  width: 90px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Links .active {
  color: #a9c200;
}
.Links .singleLink:nth-child(6) {
  border: 0;
}
.Links li:hover {
  color: #a9c200;
}

.dropdownItems {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
  margin-top: -1px;
  margin-left: -2%;
  transition: all;
  transition-duration: 1s;
}
.dropdownItems .dropdown {
  background-color: #fff;
  width: 200px;
  height: 40px;
  z-index: 1;
  border-bottom: 2px solid #a9c200;
  margin-left: -32px;
}

.dropdownItems li {
  padding: 8px 9px;
  text-decoration: none;
  display: block;
  margin-left: -20%;
  border-bottom: 1px solid #808080;
  transition: margin-left 0.8s ease-in; /* Added transition */
}

.dropdownItems li a {
  text-decoration: none;
  color: #000;
}
.dropdownItems li a:hover {
  font-weight: 800;
  color: #a9c200;
  margin-left: 15px;
}

.singleLink:hover .dropdownItems {
  display: block;
}
.singleLink i {
  font-size: 13px;
  margin-left: 10px;
  font-weight: lighter;
}
/* Your existing CSS styles */

/* Get A Quotes button */
.quotesBtn {
  position: relative;
  border: 1px solid #000;
  margin-top: -10px;
  border-radius: 25px;
  font-size: 10px;
  width: 100px;
  height: 30px;
  margin-top: 1px;
  margin-left: -20px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden; /* Hide overflow */
  transition: background-color 0.3s ease-in;
}
.quotesBtn:hover {
  background-color: #000;
  color: #fff;
}

.search-container {
  display: none; /* Initially hidden */
  position: absolute;
  top: 150px; /* Adjust according to your header height */
  right: 160px; /* Adjust according to your layout */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Search input */
.search-input {
  border: none;
  outline: none;
  width: 200px;
  padding: 5px;
}
/* Close icon */
.close-icon {
  cursor: pointer;
}
/* slider Images */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners for the overlay */
  color: #000;
  width: 500px;
}
.carousel-caption h5 {
  margin-bottom: 10px;
  color: #a9c200;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
}
.carousel-caption p {
  text-align: left;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.carousel-caption button {
  border: 0;
  background-color: #a9c200;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-self: flex-start;
}
/*  blog carousal */
.blog-carousal {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.blog-carousal2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: #fff;
}

.blog-carousal span {
  text-align: center;
  text-transform: uppercase;
  color: #a9c200;
  transition: color 0.3s ease-in;
}
.blog-carousal h1 {
  text-align: center;
}

.blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 4px;
  box-sizing: border-box;
}
.blog-post .item {
  width: 100%;
}
.blog-post .item img {
  transition: transform 0.3s ease;
}
.blog-title h3:hover {
  color: #a9c200;
  cursor: pointer;
}
.blog-post .item img:hover {
  transform: scale(1.04);
}
.blog-content {
  background-color: #fff;
}
.blog-post .item .blog-content img {
  margin-top: 3px;
  border-radius: 2px;
}
.blog-content .blog-title {
  padding: 0.2rem;
}
.blog-content .blog-title h3 {
  text-align: center;
  margin-top: 20px;
}
.blog-content .blog-title p {
  text-align: center;
  margin-top: 20px;
  color: gray;
}
.blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: skyblue;
  margin: 0.5rem;
}
.blog-content span {
  display: block;
}
.blog-post .item .blog-content .blog-title h3 {
  font-size: 20px;
}
.blog-title span {
  transition: color 0.3s ease-in;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-title span:hover {
  color: #a9c200;
}
/* services */
.line-with-icon {
  position: relative;
  width: 70%; /* Adjust width as needed */
  margin: 40px auto; /* Center horizontally */
}

.line {
  border-top: 1px solid #d6d5d5; /* Adjust line style */
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Adjust background color */
  padding: 0 10px; /* Adjust padding as needed */
}
.icon i {
  color: #a9c200;
  font-size: 40px;
}
.line-with-icon h6 {
  color: #000;
  transition: color 0.3s ease-in;
  position: absolute;
  margin-top: 20px;
  left: 40%;
}
.line-with-icon h6:hover {
  color: #a9c200;
}
/* About Us */
.About-Us {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 120px;
  gap: 70px;
}
.About-Us .Picture img {
  padding: 0px;
}
.About-Us .details p:first-child {
  color: #a9c200;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.About-Us .details h1 {
  margin-top: -9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.About-Us .details p {
  color: gray;
  word-spacing: 1px;
}

.technology-Tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.technology-Tools .listTools {
  display: flex;
  flex-direction: column;
}
.ToolsList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.ToolsList li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  color: gray;
}
.ToolsList li i {
  font-size: 20px;
  color: #a9c200;
  margin-top: 2px;
}

.technology-Tools .years30 {
  background-color: #a9c200;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technology-Tools .years30 h1 {
  color: #fff;
  font-family: fantasy;
  text-align: center;
  margin-top: 10px;
}
.technology-Tools .years30 p {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

/*? Founder and Signature */
.founderAndSign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}
.founderAndSign div:first-child {
  border: 1px solid #f5f5f5;
  border-radius: 45px 45px;
  padding: 5px;
}
.founderAndSign div img:first-child {
  border-radius: 40px 40px;
}
.founderAndSign div h4 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.needHelp {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 10px;
}
.needHelp h1 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (max-width: 1024px) {
  /*! About us */
  .About-Us .details p:first-child {
    color: #a9c200;
    margin-top: 20px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .About-Us .details h1 {
    margin-top: -9px;
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .About-Us .details p {
    color: gray;
    word-spacing: 0px;
    font-size: 10px;
  }
  .technology-Tools {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
  }
  .technology-Tools .years30 {
    background-color: #a9c200;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .technology-Tools .years30 h1 {
    color: #fff;
    font-family: fantasy;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
  }
  .technology-Tools .years30 p {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  /* ! Founder and Sign */
  .founderAndSign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 5px;
  }
  .founderAndSign div:first-child {
    border: 1px solid #f5f5f5;
    border-radius: 45px 45px;
    padding: 5px;
  }
  .founderAndSign div img:first-child {
    border-radius: 40px 40px;
  }
  .founderAndSign div h4 {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* ! Testmonial */

.Testimonial {
  position: relative; /* Set the parent div as a relative position */
  width: 100%;
  background-image: url("/src/images/Testimonial/row-bgimage-1.jpg");
  height: 600px;
  background-color: #363b40;
  opacity: 0.9;
  padding: 0;
  background-size: cover;
}

.testimonialImage {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  box-sizing: border-box;
  align-items: center;
  padding-top: 0;
}
.Testimonial .testimonialImage .details {
  opacity: 1;
  width: 600px;
}
.Testimonial .testimonialImage .details .TestimonialText {
  color: #a9c200;
}
.Testimonial .testimonialImage .details h1 {
  color: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
}
.Testimonial .testimonialImage .details p:last-child {
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .Testimonial {
    position: relative; /* Set the parent div as a relative position */
    width: 100%;
    background-image: url("/src/images/Testimonial/row-bgimage-1.jpg");
    height: 600px;
    background-color: #363b40;
    opacity: 0.9;
    padding: 0;
    background-size: cover;
  }
  .testimonialImage {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    box-sizing: border-box;
    align-items: center;
    padding-top: 0;
  }
  .Testimonial .testimonialImage .details {
    opacity: 1;
    width: 40%;
  }
  .Testimonial .testimonialImage .details .TestimonialText {
    color: #a9c200;
    font-size: 12px;
  }
  .Testimonial .testimonialImage .details h1 {
    color: #fff;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .small-carousel-item-text {
    font-size: 19px;
  }
  .Testimonial .testimonialImage .details p:first-child {
    font-size: 15px;
  }
  .Testimonial .testimonialImage .details p:last-child {
    color: #fff;
  }
  /* Cards */
  .testimonialImage .cards {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: -50px;
  }
  .testimonialImage .cards .cardsRow {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 150px;
  }
  .testimonialImage .cards .cardsRow .card {
    width: 140px;
    height: auto;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1818;
  }
  .testimonialImage .cards .cardsRow div img {
    width: 30px;
  }
  .testimonialImage .cards .cardsRow div h6 {
    color: #fff;
    font-size: 20px;
  }
}

/* blog carousal */
.small-carousel-container {
  width: 600px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow */
  position: relative;
  margin-right: 20px; /* Add some space between the carousel and other content */
}

.small-carousel {
  display: flex;
  width: 300%; /* Adjust width to accommodate all slides */
  transition: transform 1s ease-in-out; /* Add smooth transition */
}

.small-carousel-item {
  flex: 0 0 600px; /* Adjust width of each slide */
}
.small-carousel-item p:first-child {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
/* Style for dots */
.dot-container {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-self: self-start;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.small-carousel-container .small-carousel .small-carousel-item .author-details {
  display: flex;
  width: 100%;
}
.container {
  position: relative;
  height: 80px;
  display: flex;
  gap: 20px;
}
.vertical-line {
  width: 5px; /* Adjust thickness as needed */
  animation: colorFlow 3s infinite; /* Animation to change color */
  z-index: 100;
}

@keyframes colorFlow {
  0% {
    height: 10%;
    background-color: #000;
  }
  20% {
    height: 30%;
    background-color: #505c05;
  }
  90% {
    height: 90%;
    background-color: #a9c200;
  }
  100% {
    height: 100%;
    background-color: #a9c200;
  }
}
.author-details .container .author-photo {
  width: 15%;
  height: 80px;
  border-radius: 45px;
  border: 5px solid #fff;
}
.author-details .container .author-photo img {
  border-radius: 40px;
  width: 100%;
  height: 70px;
}
.author-details .container .authorDetails {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.author-details .container .authorDetails div:first-child span {
  color: #ffff00;
}
.author-details .container .authorDetails h5 {
  color: #fff;
  font-size: 17px;
}
.activeDot {
  height: 35px;
  width: 10px;
  border-radius: 10px;
  background-color: #a9c200;
}
/* After small carousal */
.testimonialImage .cards {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.testimonialImage .cards .cardsRow {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 190px;
}
.testimonialImage .cards .cardsRow div {
  width: 50%;
  height: 185px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1818;
}
.testimonialImage .cards .cardsRow div img {
  width: 70px;
}
.testimonialImage .cards .cardsRow div h6 {
  color: #fff;
  font-size: 20px;
}
/*! Reality Matters */
.Reality-Matters {
  width: 100%;
  height: 280px;
  padding-top: 90px;
  background-color: #f5f5f5;
}
.Reality-Matters .Heading-Phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Reality-Matters .Heading-Phone h1 {
  display: flex;
  justify-content: center;
}
.Reality-Matters .Heading-Phone h1 span {
  color: #a9c200;
}
.Reality-Matters .Heading-Phone .audioBtn {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: transparent;
  width: 180px;
  height: 50px;
  border-radius: 35px;
  border: 1px solid #262c31;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.Reality-Matters .Heading-Phone .audioBtn:hover {
  background-color: #000;
  color: #fff;
}
.Reality-Matters hr {
  color: gray;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0;
}
/* meet our Team */
.blog-post .item .blog-content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 4px;
  height: 500px;
}
.blog-post .item .blog-content2 img {
  height: 420px;
}
.blog-post .item .blog-content2 .blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #eee;
}
.blog-post .item .blog-content2 .blog-title h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: color 0.3s ease-in;
}
.blog-post .item .blog-content2 .blog-title h3:hover {
  color: #a9c200;
}
.blog-post .item .blog-content2 .shareContainer {
  position: relative;
  display: inline-block;
}
.blog-post .item .blog-content2 .shareIcon {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  margin-bottom: 33%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}
.blog-post .item .blog-content2 .shareIcon:hover {
  background-color: #a9c200;
  color: #fff;
}
.blog-post .item .blog-content2 .shareIcon i {
  font-size: 14px;
}
.blog-post .item .blog-content2 .shareDiv {
  width: 63%;
  height: 40px;
  position: absolute;
  bottom: 142px;
  display: flex;
  opacity: 0.8;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
  background-color: #fff;
  transition: opacity 1s ease, width 1s ease-in-out;
}

.share-container:hover + .shareDiv {
  width: 63%;
  opacity: 1;
  cursor: pointer;
}
.blog-post .item .blog-content2 .shareDiv i {
  width: 33%;
  padding-top: 10px;
  height: 40px;
  border-left: 1px solid #e3e3e3;
  cursor: pointer;
}
.blog-post .item .blog-content2 .shareDiv i:hover {
  background-color: #000;
  color: #fff;
}
/* ! Explore Team */
.exploreTeam {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 120px;
  gap: 1px;
}
.exploreTeam .details {
  background-color: #fff;
  padding-top: 50px;
  padding-left: 30px;
  width: 50%;
}
.exploreTeam .details .title {
  font-size: 34px;
}
.exploreTeam .details p:first-child {
  color: #a9c200;
}
.exploreTeam .details .technology-Tools {
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.exploreTeam .Picture {
  width: 50%;
  height: 400px;
}
.exploreTeam .Picture img {
  width: 100%;
  height: 500px;
  background-color: #808080;
}
.exploreTeam .details .technology-Tools .ToolsList li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #000;
}
.exploreTeam .details .technology-Tools .ToolsList li div h6 {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}
.exploreTeam .details .technology-Tools .ToolsList li div {
  display: flex;
  gap: 20px;
}
.exploreTeam .details .technology-Tools .ToolsList li p {
  margin-left: 37px;
  color: gray;
}
.videoBtn {
  background-color: #a9c200;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 47%;
  border: 5px solid #f5f5f5;
}
.videoBtn i {
  color: #fff;
  font-size: 25px;
}
.news-corner .blog-post .item .blog-content .blog-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  padding-left: 30px;
  padding-top: 20px;
}
.news-corner .blog-post .item .blog-content .blog-title h6 {
  font-weight: 300;
}
.news-corner .blog-post .item .blog-content .blog-title p {
  margin-top: -2px;
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.comments-Calender {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e3e3e3;
  width: 100%;
  height: 50px;
}
.comments-Calender div {
  display: flex;
  font-weight: 300;
  padding: 10px 10px;
  gap: 3px;
}
.comments-Calender div i {
  font-weight: 300;
  margin-top: 4px;
}
.comments-Calender div span {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.news-corner .blog-post .item .blog-content .blog-title p {
  transition: color 0.3s ease-in-out;
}
.news-corner .blog-post .item .blog-content .blog-title p:hover {
  color: #a9c200;
  cursor: pointer;
}
.news-corner .blog-post .item .blog-content img {
  width: 100%;
}
.news-corner .blog-post .item .blog-content .plusIcon {
  width: 40px;
  height: 40px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #a9c200;
  border-radius: 20px;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
}
.news-corner .blog-post .item:hover .plusIcon {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.news-corner .blog-post .item .blog-content .plusIcon i {
  font-size: 20px;
  color: #fff;
}

/* footer */
.footer {
  background-color: #0d1414;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.footer .teliqon {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  gap: 20px;
  padding-left: 50px;
  box-sizing: border-box;
}
.footer .teliqon img:first-child {
  width: 190px;
  height: auto;
}
.footer .teliqon p {
  color: #eee;
}
.footer .teliqon div.call-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.footer .teliqon div i {
  font-size: 25px;
  color: #a9c200;
  display: flex;
  align-self: center;
}

.footer .teliqon div div {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #fff;
  padding-left: 35px;
}
.call {
  margin-left: 10px;
}
.footer .teliqon div div span:last-child {
  font-weight: 300;
  color: #fff;
}
.footer .teliqon div div span:first-child {
  color: #fff;
  font-weight: 600;
}
/* recent posts */
.footer .recentPosts {
  display: flex;
  flex-direction: column;
  padding: 80px;
  box-sizing: border-box;
}
.footer .recentPosts h5:first-child {
  color: #fff;
  margin-bottom: 20px;
}
.footer .recentPosts .services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .recentPosts .services .pictureDetails {
  display: flex;
  gap: 20px;
}
.footer .recentPosts .services .pictureDetails img {
  width: 90px;
  height: auto;
}
.footer .recentPosts .services .pictureDetails .details {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.footer .recentPosts .services .pictureDetails .details p {
  transition: color 0.3s ease-in;
  cursor: pointer;
}
.footer .recentPosts .services .pictureDetails .details p:hover {
  color: #a9c200;
}

.footer .recentPosts .services .pictureDetails .details span {
  color: gray;
}
.footer .recentPosts hr {
  background-color: #deff06;
  margin-top: -10px;
  width: 50px;
  height: 2px;
}

/* our services */
.footer .ourServices {
  display: flex;
  flex-direction: column;
}
.footer .ourServices h5:first-child {
  color: #fff;
}
.footer .ourServices hr {
  background-color: #deff06;
  margin-top: 0px;
  width: 40px;
  height: 2px;
}
.footer .ourServices .otherServices {
  display: flex;
  gap: 60px;
}
.footer .ourServices .otherServices .options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .ourServices .otherServices .options div {
  color: #fff;
  font-size: 12px;
}
.footer .ourServices .otherServices .options div span {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.footer .ourServices .otherServices .options div span:hover {
  color: #a9c200;
  cursor: pointer;
}
.footer .ourServices .newsLetter {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.footer .ourServices .newsLetter h2 {
  font-size: 20px;
  color: #fff;
}
.footer .ourServices .newsLetter hr {
  background-color: #a9c200;
}
.footer .ourServices .newsLetter p {
  color: #f5f5f5;
}
@media only screen and (max-width: 1024px) {
  .footer {
    background-color: #0d1414;
    width: 100%;
    height: 550px;
    display: flex;
  }
  .footer .teliqon {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 20px;
    padding-left: 50px;
    box-sizing: border-box;
  }
  .footer .teliqon img:first-child {
    width: 100px;
  }
  .footer .teliqon p {
    font-size: 15px;
  }
  .footer .teliqon .call-us i {
    font-size: 15px;
  }
  .footer .teliqon .call-us .call span {
    font-size: 12px;
  }
  /* recent posts */
  .footer .recentPosts .services .pictureDetails {
    display: flex;
    gap: 5px;
  }
  .footer .recentPosts .services .pictureDetails img {
    width: 90px;
    height: 90px;
  }
  .footer .recentPosts .services .pictureDetails .details {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .footer .recentPosts .services .pictureDetails .details p {
    font-size: 10px;
  }
  .footer .recentPosts .services .pictureDetails .details span {
    font-size: 10px;
  }
}

.email-container {
  display: flex;
  align-items: center;
}
.email-container i {
  padding: 15px 5px;
  color: #000;
  position: absolute;
}
#email {
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 250px; /* Adjust width as needed */
}

.join-btn {
  padding: 11px 14px;
  background-color: #a9c200;
  color: #fff;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: #0056b3;
}
/* under footer */
.underFooter {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  background-color: #1d2329;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underFooter h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.underFooter div {
  display: flex;
  gap: 10px;
}
.underFooter div a {
  color: #fff;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.underFooter div a:last-child {
  border: none;
}
.underFooter div a:hover {
  color: #a9c200;
}
