/* Above header */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #262c31;
  color: #fff;
  height: 50px;
}

/* Responsiveness */
@media only screen and (max-width: 1442px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }
}

.header-container .locationAndEmail .location {
  border-right: 1px solid #fff;
  padding-right: 20px;
}

.emailText {
  font-weight: 900;
}

.emailText:hover {
  color: #a9c200;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.locationAndEmail {
  display: flex;
  gap: 20px;
}

.optionsAndSocials {
  display: flex;
  height: 50px;
  gap: 20px;
}

.header-container .optionsHeader {
  display: flex;
  gap: 20px;
}

.optionsAndSocials .optionsHeader {
  height: 20px;
  margin-top: 10px;
}

/* ? options and border */
.optionsAndSocials .optionsHeader .option {
  border-right: 1px solid #fff;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.optionsAndSocials .optionsHeader .option:hover {
  color: #a9c200;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.optionsAndSocials .optionsHeader .option:last-child {
  border: none;
}

.social-icons {
  display: flex;
  gap: 20px;
  background-color: #a9c200;
  cursor: pointer;
  padding: 15px 20px 20px 20px;
}

.social-icons i {
  font-size: 14px;
}

.social-icons i:hover {
  color: #262c31;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

/* Actual Header */
.header {
  padding-left: 10%;
  box-shadow: 3px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 300px;
}
.menuItems i {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 200px;
    align-items: center;
    padding-left: 5%;
  }
  .headerLogo {
    width: 60%;
    height: 50px;
  }
  .menuItems {
    display: flex;
    margin-left: -70px;
  }
  .Links {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -60px;
  }
  .Links li {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
  }
  .menuItems i {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-container {
    display: none;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 200px;
    align-items: center;
    padding-left: 5%;
  }
  .headerLogo {
    width: 60%;
    height: 50px;
  }
  .menuItems .Links {
    display: none;
    margin-left: -70px;
  }
  .quotesBtn {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .Links {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -60px;
  }
  .Links li {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
    height: 15px;
  }
  .menuItems i {
    display: block;
    position: absolute;
    top: 38px;
    right: 13px;
    font-size: 25px;
    background-color: rgb(240, 235, 235);
    padding: 5px;
    border-radius: 6px;
  }
}

.headerLogo {
  width: 180px;
}

.menuItems {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.Links {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.Links .singleLink {
  border-right: 1px solid #000;
  padding-left: 10px;
  width: 90px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Links .active {
  color: #a9c200;
}
.Links .singleLink:nth-child(6) {
  border: 0;
}
.Links li:hover {
  color: #a9c200;
}

.dropdownItems {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
  margin-top: -1px;
  margin-left: -2%;
  transition: all;
  transition-duration: 1s;
}
.dropdownItems .dropdown {
  background-color: #fff;
  width: 200px;
  height: 40px;
  z-index: 1;
  border-bottom: 2px solid #a9c200;
  margin-left: -32px;
}

.dropdownItems li {
  padding: 8px 9px;
  text-decoration: none;
  display: block;
  margin-left: -20%;
  border-bottom: 1px solid #808080;
  transition: margin-left 0.8s ease-in; /* Added transition */
}

.dropdownItems li a {
  text-decoration: none;
  color: #000;
}
.dropdownItems li a:hover {
  font-weight: 800;
  color: #a9c200;
  margin-left: 15px;
}

.singleLink:hover .dropdownItems {
  display: block;
}
.singleLink i {
  font-size: 13px;
  margin-left: 10px;
  font-weight: lighter;
}
/* Your existing CSS styles */

/* Get A Quotes button */
.quotesBtn {
  position: relative;
  border: 1px solid #000;
  margin-top: -10px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  background-color: #fff;
  overflow: hidden; /* Hide overflow */
  transition: background-color 0.3s ease-in;
}
.quotesBtn:hover {
  background-color: #000;
  color: #fff;
}

.search-container {
  display: none; /* Initially hidden */
  position: absolute;
  top: 150px; /* Adjust according to your header height */
  right: 160px; /* Adjust according to your layout */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Search input */
.search-input {
  border: none;
  outline: none;
  width: 200px;
  padding: 5px;
}
/* Close icon */
.close-icon {
  cursor: pointer;
}
/* slider Images */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners for the overlay */
  color: #000;
  width: 500px;
}
.carousel-caption h5 {
  margin-bottom: 10px;
  color: #a9c200;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
}
.carousel-caption p {
  text-align: left;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.carousel-caption button {
  border: 0;
  background-color: #a9c200;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-self: flex-start;
}
/*  blog carousal */
.blog-carousal {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: #f5f5f5;
}
.blog-carousal span {
  text-align: center;
  text-transform: uppercase;
  color: #a9c200;
  transition: color 0.3s ease-in;
}
.blog-carousal h1 {
  text-align: center;
}
.blog-post {
  padding: 4rem 0.5rem;
}

.blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 4px;
}
.blog-post .item {
  width: 100%;
}
.blog-post .item img {
  transition: transform 0.3s ease;
}
.blog-title h3:hover{
  color: #a9c200;
  cursor: pointer;
}
.blog-post .item img:hover {
  transform: scale(1.04);
}
.blog-content {
  background-color: #fff;
}
.blog-post .item .blog-content img {
  margin-top: 3px;
  border-radius: 2px;
}
.blog-content .blog-title {
  padding: 0.2rem;
}
.blog-content .blog-title h3 {
  text-align: center;
  margin-top: 20px;
}
.blog-content .blog-title p {
  text-align: center;
  margin-top: 20px;
  color: gray;
}
.blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: skyblue;
  margin: 0.5rem;
}
.blog-content span {
  display: block;
}
.blog-post .item .blog-content .blog-title h3 {
  font-size: 20px;
}
.blog-title span {
  transition: color 0.3s ease-in;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-title span:hover {
  color: #a9c200;
}
